<div class="container">
  <button mat-raised-button color="primary" routerLink="/ajout-article">
    Ajouter un article
  </button>

  <div class="row">
    @for (article of listeArticles; track $index) {

    <div class="col-6">
      <mat-card class="mt-4">
        <mat-card-header>
          <div mat-card-avatar></div>
          <mat-card-title>{{ article.nom }}</mat-card-title>
          <mat-card-subtitle>{{ article.prix }}€</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="http://localhost/backend-angular/uploads/{{ article.image }}"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p class="my-4">
            {{ article.description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary">
            <mat-icon>add_shopping_cart</mat-icon>
            Ajouter au panier
          </button>
          <button mat-button color="accent" [routerLink]="['/modifier-article',article.id]">
            <i class="fa-solid fa-pencil"></i>
            Modifier
          </button>
          <button
            mat-button
            color="warn"
            (click)="onSuppressionArticle(article.id)"
          >
            <mat-icon>delete</mat-icon>
            Supprimer
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    }
  </div>
</div>
